* {
  box-sizing: border-box;
  text-align: center;
}
.main {
  background-color: green;
}
.heading {
  background-color: rgb(123, 255, 0);
}
.header,
.footer {
  color: white;
  background-color: rgb(21, 66, 12);
  max-height: 3em;
}

.naveBar {
  color: rgb(218, 214, 37);
  margin-left: 1em;
}
.naveBar:hover {
  font-weight: bold;
  background-color: green;
}
.container {
  min-height: 70vh;
}
